.matchmaking_room {
	background-image: url(../images/matchmaking_background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.site_head {
	font-size: 70px;
	font-family: Aroha;
	color: rgba(255, 250, 240, 1);
}

.content {
	position: absolute;
	width: 800px;
	left: 50%;
	top: 20%;
	margin-left: -400px;
	margin-bottom: 100px;
	font-family: Helv;
	/*margin-left: 90px;*/

	background-color: rgba(169,169,169,0.6);
	border:0px solid rgba(240,255,255);
 	border-radius: 30px;
}

.title {
	text-align: center;
	font-size: 28px;
	margin: 5px;
}

.link {
	font-size: 20px;
	color: black;
	margin-top: 10px;
	border-width: 0;
	border-radius: 3px;
	height: 24px;
	width: 130px;
}

a {
	padding-left: 50px;
}

#reminder {
	font-size: 20px;
	padding-left: 50px;
}

.username {
	width: 90px;
	height: 20px;
	border: 0;
	font-size: 20px;
	background-color: transparent;
}

.submit_button_up {
	width: 20px;
	height: 20px;
	border-width: 0;
	border-radius: 10px;
	background-color: black;
}

.submit_button_down {
	width: 20px;
	height: 20px;
	border-width: 0;
	border-radius: 10px;
	background-color: white;
}

table {
	padding-left: 50px;
}

@font-face {
    font-family: Aroha;
    src: url(WCManoNegraBta.otf);
    /*Imagination Station.ttf*/
    font-weight: bold;
    /*size: 30;*/
    /*font-style: normal;*/
    /*font-size:250%;*/
}

@font-face {
	font-family: Helv;
	src: url("Helvetica-Condensed-Thin_0.ttf") format('ttf');
}